{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false
          }
        ],
        "babel-plugin-transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
          "env"
      ],
      "plugins": ["babel-plugin-transform-object-rest-spread"]
    }
  }
}
